@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-beige text-navy;
  }
}

@layer components {
  .section-container {
    @apply min-h-screen px-4 py-20 md:px-8 md:py-32;
  }

  .section-title {
    @apply text-4xl md:text-6xl font-bold mb-12 tracking-tight;
  }

  .pop-up-element {
    will-change: transform, opacity;
  }
}
